@import "tailwindcss";


@theme{
  --color-sorkhabi: rgb(218, 25, 132);
}

@font-face {
  font-family: IRANSans;
  src: url(/fonts/IRANSansXFaNum-Regular.woff2);
}

body {
  font-family: IRANSans, sans-serif;
  margin: 0;
  background: #fff;
  color: #171717;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

.swiper-pagination-bullet-active {
  background: var(--color-sorkhabi) !important;
}

@media (min-width: 1024px) {
  .home-slider .swiper-slide img {
    aspect-ratio: 3.5 / 1;
  }
}
